<div class="menu bg-blue-600 py-4 text-white">
  <div class="text-3xl font-semibold text-center">Angular google maps</div>

  <div class="flex items-center justify-center p-2">
    <input type="file" id="file"
      (change)="onFileSelected($event)">
  </div>

  <div class="flex justify-center gap-2">
    <ng-container *ngFor="let check of checkboxLabelsOBJ">
      <mat-checkbox [checked]="check.isChecked" (change)="pegarPoligonoPeloNome($event, check)">{{ check.name }}</mat-checkbox>
    </ng-container>
  </div>

  <div class="flex justify-center">
    <button class="border-white border m-2 py-2 px-4 rounded" (click)="sobreporImagem(paths)">Sobrepor Imagem</button>
  </div>
</div>

<div class="w-[80vw] h-[90vh] px-4 py-2 m-auto">
  <google-map
    height="100%"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    [options]="options"
    (mapClick)="mapClicked($event)"
    (mapInitialized)="buscarMap($event)"
    >
    <!-- <map-polygon *ngFor="let polygon of polygons"  [options]="polygon"
      [paths]="polygon.paths || []" (polygonClick)="handlePolygonClick($event)">
    </map-polygon> -->
  </google-map>
</div>
